@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");
body {
  padding: 0;
  position: relative;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 28vh;
  position: relative;
  z-index: 10;
}
.navbar .navbar-Wrap {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}
.navbar .navbar-Wrap .navbar-Links {
  width: 70%;
  height: 90%;
  padding-top: 15px;
}
.navbar .navbar-Wrap .navbar-Links ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: start;
  justify-content: space-evenly;
  gap: 5rem;
  width: 100%;
  height: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .navbar-Wrap .navbar-Links ul li {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: start;
  width: 25px;
  transition: all 550ms ease-in-out;
}
.navbar .navbar-Wrap .navbar-Links ul li a {
  text-decoration: none;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #fff;
  width: 1ch;
  font-size: 1.5rem;
  font-weight: 700;
  height: 100%;
  letter-spacing: 0.2rem;
  word-wrap: break-word;
  transition: all 550ms ease-in-out;
}
.navbar .navbar-Wrap .navbar-Links ul li:hover {
  width: 150px;
}
.navbar .navbar-Wrap .navbar-Links ul li:hover a {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 769px) {
  .navbar .navbar-Wrap .navbar-Links {
    padding-top: 15px;
  }
  .navbar .navbar-Wrap .navbar-Links ul {
    gap: 2rem;
  }
  .navbar .navbar-Wrap .navbar-Links ul li a {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}
.header-Deco {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header-Deco .header-Deco-1 {
  position: absolute;
  background-color: rgba(50, 231, 255, 0.8);
  width: 2050px;
  height: 2050px;
  top: -100rem;
  z-index: -2;
  animation: headerDeco 25s infinite linear;
  border-radius: 1350px 1400px 1200px;
}
.header-Deco .header-Deco-2 {
  position: absolute;
  background-color: rgba(50, 231, 255, 0.1);
  width: 1950px;
  height: 1950px;
  top: -85rem;
  z-index: -3;
  animation: headerDeco 25s infinite linear;
  border-radius: 1050px 1200px 1150px;
}

@keyframes headerDeco {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .header-Deco .header-Deco-1 {
    top: -110rem;
  }
  .header-Deco .header-Deco-2 {
    top: -95rem;
  }
}
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin-top: 2rem;
}
.header .header-Wrap {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: relative;
}
.header .header-Wrap .header-Title-Text {
  font-size: 7rem;
  font-family: "Monoton", cursive;
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.6352941176);
  opacity: 0.9;
  border-radius: 0.8rem;
  text-align: center;
  box-sizing: border-box;
}
.header .header-Wrap #header-Title-Icon {
  position: absolute;
  bottom: 3rem;
  font-size: 11rem;
  color: rgba(50, 231, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}

@media screen and (max-width: 1200px) {
  .header .header-Wrap .header-Title-Text {
    font-size: 4rem;
  }
  .header .header-Wrap #header-Title-Icon {
    font-size: 10rem;
  }
}
@media screen and (max-width: 1000px) {
  .header .header-Wrap .header-Title-Text {
    font-size: 3rem;
  }
  .header .header-Wrap #header-Title-Icon {
    font-size: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .header .header-Wrap .header-Title-Text {
    font-size: 1.9rem;
    padding: 15px;
  }
  .header .header-Wrap #header-Title-Icon {
    font-size: 4rem;
  }
}
.customers {
  margin-top: 5rem;
  height: 1500px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.customers .customers-Wrap {
  height: 90%;
  width: 90%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.customers .customers-Wrap .customers-Top {
  height: 25%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.customers .customers-Wrap .customers-Top .customers-Top-Text-1 {
  font-size: 10rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Bellota Text", cursive;
  color: #999;
  text-align: center;
  opacity: 0.1;
  text-shadow: 2rem 2rem 4rem #aaa;
}
.customers .customers-Wrap .customers-Bottom {
  margin-top: 5rem;
  height: 75%;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card {
  width: 320px;
  height: 500px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  transition: box-shadow 0.5s;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card:hover {
  cursor: pointer;
  box-shadow: 2rem 2rem 3rem #fff, -1rem -1rem 2rem #acacac;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Text-Wrap {
  height: 50%;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Text-Wrap #customers-Card-Text-Icon {
  color: #f08e0f;
  font-size: 3rem;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Text-Wrap .customers-Card-Text-2 {
  font-size: 1rem;
  font-family: "Bellota Text", cursive;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 0;
  margin: 0;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Rate-Img-Name-Wrap {
  height: 50%;
  width: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Rate-Img-Name-Wrap .customers-Rate-Wrap #customers-Icon-Star {
  color: #f08e0f;
  font-size: 1.5rem;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Rate-Img-Name-Wrap .customers-Card-Profile-Img {
  height: 125px;
  width: 125px;
  object-fit: cover;
  border-radius: 50%;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card .customers-Rate-Img-Name-Wrap .customers-Card-Name {
  font-family: "Bellota Text", cursive;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card.Top {
  position: relative;
  top: -100px;
}
.customers .customers-Wrap .customers-Bottom .customers-Bottom-Cards-Wrap .customers-Card.Bottom {
  position: relative;
  top: 100px;
}

/*# sourceMappingURL=style.css.map */
